
{% extends "masterpage.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} ADMIN PANEL {% endblock %}
{% block content %}


<div class="blockcontainer">
    <div class="blockcontainer-content">
         <form action="{{url_for('adm_deleteflight')}}" method="POST">


              Flight ID:
            <select class="custom-select" name="id">
                <option>Flight id</option>
                {% for flight in flights %}
                    <option value="{{flight[0]}}">{{flight[0]}} - {{flight[1]}} - {{flight[2]}} - {{flight[3]}} - {{flight[4]}} - {{flight[5]}} // {{flight[6]}}</option>
                {% endfor %}
            </select>

            <button type="submit" ></i> Delete</button>

        </form>

    </div>
</div>

{% endblock %}