{% extends "masterpage.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} ADMIN PANEL {% endblock %}
{% block content %}

<div class="blockcontainer">
	<div class="blockcontainer-content">
        <form action="{{url_for('adm_updateflight')}}" method="POST">
              From:
            <select class="custom-select" name="from">
                <option selected>All Destinations</option>
                {% for city in cities %}
                    <option value="{{city[2]}}">{{city[1]}} - {{city[0]}}</option>
                {% endfor %}
            </select>
            To:
            <select class="custom-select" name="to">
                <option selected>All Destinations</option>
                {% for city in cities %}
                    <option value="{{city[2]}}">{{city[1]}} - {{city[0]}}</option>
                {% endfor %}
            </select>
            Plane:
            <select class="custom-select" name="on">
                <option selected>Planes</option>
                {% for plane in planes %}
                    <option value="{{plane[0]}}">{{plane[0]}} - {{plane[1]}} - {{plane[2]}} - {{plane[3]}}</option>
                {% endfor %}
            </select>
            Departure Time:
            <input type="datetime-local" class="custom-date" name="dep_date" value="{{ date }}" min="{{ date }}" >
            Arrival Time:
            <input type="datetime-local" class="custom-date" name="arr_date" value="{{ date }}" min="{{ date }}" >
            <button type="submit" class="btn dorne-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Enter</button>

        </form>



    </div>
</div>
{% endblock %}