
{% extends "masterpage.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} ADMIN PANEL {% endblock %}
{% block content %}


<div class="blockcontainer">
    <div class="blockcontainer-content">
        <div class="container">
            {{ super() }}
            <p>Welcome, {{ session.Fullname }}!<br>
                View user <a class="awhite" href="{{ url_for('adm_users') }}">list</a><br>
                Send <a class="awhite" href="{{ url_for('adm_sendpost') }}">posts</a><br>
                Payment <a class="awhite" href="{{ url_for('adm_pymreqs') }}">requests</a><br>
                Add<a class="awhite" href="{{ url_for('adm_updateflight') }}"> flight</a><br>
                Delete<a class="awhite" href="{{ url_for('adm_deleteflight') }}"> flight</a><br>
                Add<a class="awhite" href="{{ url_for('addPlane') }}"> plane</a><br>
                Add<a class="awhite" href="{{ url_for('add_airport') }}"> airport</a><br>
                Add<a class="awhite" href="{{ url_for('add_city') }}"> city</a><br>
                Set<a class="awhite" href="{{ url_for('discount') }}"> discount</a><br>
                Fabrika ayarlarına<a class="awhite" href="{{ url_for('adm_fabrika_ayarlari') }}"> DÖN</a><br>
            </p>
        </div>
    </div>
</div>

{% endblock %}