
{% extends "masterpage.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} ADMIN PANEL {% endblock %}
{% block content %}


<div class="blockcontainer">
    <div class="blockcontainer-content">
         <form action="{{url_for('discount')}}" method="POST">


              Flight ID:
            <select class="custom-select" name="id">
                <option>Flight id</option>
                {% for flight in flights %}
                    <option value="{{flight[0]}}">{{flight[0]}} - {{flight[1]}} - {{flight[2]}} - {{flight[3]}} - {{flight[4]}} - {{flight[5]}} // {{flight[6]}}</option>
                {% endfor %}
            </select>
             Discount Rate: <br>
             <input type="number" class="form-control" name="discount_rate" step="1" max="99" min="0" >
            <br><br>
            <button type="submit" class="btn dorne-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Enter</button>

        </form>

    </div>
</div>

{% endblock %}