
{% extends "masterpage.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} Forgot Password {% endblock %}
{% block content %}
<div class="blockcontainer">
    <div class="blockcontainer-content">
        <div class="container">
            {{ super() }}
            <form action="/forgotpassword" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <button class="btn dorne-btn" type="submit">Send</button>
            </form>
        </div>

    </div>
</div>

{% endblock %}