<!doctype html>
<html lang="en">

    <head>

            {% block head %}
            <link rel="stylesheet" href="../static/styles/styles.css?version=6">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
            <link rel="icon" href="../static/images/favicon.ico" sizes="any" type="image/png">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <meta charset="UTF-8">
            <title>{% block title %}{% endblock %} - AirlineSSS</title>
            {% endblock %}
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="{{ url_for('index') }}" class="active">Home</a>
            <a href="{{ url_for('news') }}">News</a>
            <a href="{{ url_for('flights') }}">Flights</a>
            <a href="{{ url_for('about') }}">About</a>
            {% if 'online' in session %}
                {% if session.Role == 'A' %}
                    <a href="{{ url_for('adminpage') }}">Admin Panel</a>
                {% else %}
                    <a href="{{ url_for('buycoins') }}">Buy Coins</a>
                {% endif %}
                <a href="{{ url_for('userpage') }}">Profile</a>
                <a href="{{ url_for('logout') }}" class="loginbutton" style="width:auto;">Logout</a>
            {% else %}
                <a href="#login" onclick="document.getElementById('login_popup').style.display='block'" class="loginbutton" style="width:auto;">Login</a>
                <a href="#register" onclick="document.getElementById('register_popup').style.display='block'" class="registerbutton" style="width:auto;">Register</a>
            {% endif %}
            <label name="rate">1 SCoin = 0.9 &#8378;</label>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa           fa-bars"></i>
            </a>
        </div>
        <div id="login_popup" class="modal">

            <form id="pop_up" class="modal-content animate" action="/login" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('login_popup').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="../static/images/popup.svg" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                  <span class="psw">Forgot <a href="{{ url_for('forgotpassword') }}">password?</a></span>
                </div>
            </form>
        </div>

        <div id="register_popup" class="modal">

            <form class="modal-content animate" action="/register" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('register_popup').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="../static/images/popup.svg" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter Your Name" name="name" required>

                    <label for="email"><b>E-Mail Address</b></label>
                    <input type="text" placeholder="Enter Password" name="email" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit">Register</button>
                </div>

            </form>
        </div>
        {% block content%}{% endblock %}


    </body>
    <footer>
        <!-- Modal -->
        <div id="messageBox" class="message" role="dialog">
          <div class="message-dialog">
            <!-- Modal content-->
            <div class="message-content">
              <div class="message-header">
                <button type="button" class="close" onclick="document.getElementById('messageBox').style.display='none'">&times;</button>
                <h4 class="message-title">Message</h4>
              </div>
              <div class="message-body">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
              </div>
              <div class="message-footer">
              </div>
            </div>

          </div>
        </div>
    </footer>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
$(document).ready(function() {
    var messages = "{{ get_flashed_messages() }}";

    if (typeof messages != 'undefined' && messages != '[]') {
        $("#messageBox").modal();
    };
});
</script>
</html>





