
{% extends "masterpage.html" %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="../static/styles/posts.css?version=3">
{% endblock %}
{% block title %} News {% endblock %}
{% block content %}
<div>
    {% if posts %}
        {% for post in posts %}
            <div class="blockcontainer">
                <div class="blockcontainer-content">
                    <div class="post post-container">
                        <table border="1">
                            <tr>
                                <td class="post post-left" style="backgroud-color:gray">
                                    <div>
                                        <table border="1">
                                            <tr class="post profile-top">
                                                <td>
                                                    <table border="1">
                                                        <tr>
                                                            <td>
                                                                <img class="profile-image" src="../static/images/usericon.png">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ post[1] }}</td>

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr class="post profile-bottom">
                                                <td>Username: {{ post[2] }}<br>User Role: {{ post[6] }}</td>
                                            </tr>
                                    </table>
                                    </div>
                                </td>
                                <td class="post post-right">
                                    <div>
                                        <table border="1">
                                            <tr class="post-content-top">
                                                <td>{{post[3]}}</td>
                                            </tr>
                                            <tr class="post-content-bottom">
                                                <td>Post ID: {{ post[0] }} Date: {{ post[4] }} Time: {{ post[5] }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No Posts!</p>
    {% endif %}
</div>
{% endblock %}