
{% extends "masterpage.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} News {% endblock %}
{% block content %}
<div class="blockcontainer">
    <div class="blockcontainer-content">
        <div class="container">
        {{ super() }}
        {% if posts %}
            {% for post in posts %}
                <div class="row post-row" id="{{ post[0] }}">
                    <div class="col-sm-12 my-2">
                        <div class="card card-body bg-light">
                            <div class="media">
                                <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img class="align-self-start mr-3 post-picture" src="data:image/jpg;base64,{{ images[post[0]] }}" alt="{{ post[7] }}" height="200" width="200">
                                        </a>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="media-body">
                                            <h4 class="mt-0 text-left">{{ post[6] }}</h4>
                                            <p class="text-right text-lg mb-0">By {{ post[1] }}</p>
                                            <p class="text-right text-lg mt-0">User Role: {{ post[5] }}</p>

                                            <p>{{ post[2] }}</p>
                                            <ul class="list-inline list-unstyled">
                                                <li class="list-inline-item"><span><i class="fas fa-hashtag"></i> Post ID: {{ post[0] }} </span></li>
                                                <li class="list-inline-item"><span><i class="far fa-calendar-alt"></i> {{ post[3] }} </span></li>
                                                <li class="list-inline-item"><span><i class="far fa-clock"></i> {{ post[4] }} </span></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        {% else %}
            <p>No Posts!</p>
        {% endif %}

    </div>
</div>


{% endblock %}