<html>

   <head>
      <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
   </head>
   
   <body>
      
      <form action = "http://localhost:5000/post_user" method = "post">
         <p>Kullanıcı Adınız:</p>
         <p><input type = "text" name = "Username" maxlength = 20 required/></p>
         <p>Şifreniz:</p>
         <p><input type = "text" name = "Password" maxlength = 20 required /></p>
         <p><input type = "submit" value = "Kaydol" /></p>
      </form>
      
      <input type = "button" onclick = "sayHello()" value = "Say Hello" />
   </body>
</html>